#develop {
	color: red;
	background-color: #556B2F;
	margin-right: 20px;
}

#empire {
	color: purple;
	background-color: black;
	margin-right: 20px;
}
#codepen {
	color: orange;
	background-color: gray;
	margin-right: 20px;
}

#order {
	color: darkred;
	background-color: #2F4F4F ;
	margin-right: 20px;
}

#groupimages {
	text-align: center;
	
}

#banner {
	background-color: #2F4F4F;
	color: white;
}

#color {
	background-color: #D2691E;
	color: white;
}

#color1 {
	background-color:#2F4F4F;
	color: white;
}

#message {
	text-align: center;	
}

button {
	border: 15px solid black;
}
